.App-header {
  background-color: #e3f2fd;
  height: 90px;
  padding: 30px;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-inline {
  display: inline-block;
}

.favorites {
  padding-bottom: 0;
}
