@font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'),
        url('./static/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    background: #f3f3f3;
}
